@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --dark-bg-cl: #1f2937;
  --light-bg-cl: #e5e7eb;

  --header-logo-size: 24px;
  --header-logo-cl: #f9faf8;

  --secondary-size: 16px;
  --secondary-cl: #e5e7eb;

  --hero-main-txt-size: 48px;
  --hero-main-txt-weight: bold;
  --hero-main-txt-cl: #f9faf8;

  --accent-cl: #3882f6;

  --information-header-size: 36px;
  --information-header-weight: bold;
  --information-header-cl: #1f2937;

  --quote-txt-size: 36px;
  --quote-txt-weight: 100;
  --quote-txt-style: italic;
  --quote-txt-cl: #1f2937;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

.dark-bleed {
  background-color: var(--dark-bg-cl);
  box-shadow: 0 0 0 100vmax var(--dark-bg-cl);
  clip-path: inset(0 -100vmax);
}

.light-bleed {
  background-color: var(--light-bg-cl);
  box-shadow: 0 0 0 100vmax var(--light-bg-cl);
  clip-path: inset(0 -100vmax);
}

.container * {
  width: auto;
  height: auto;
  margin-bottom: 10px;
}

main {
  width: 80%;
  margin: 0 auto;
}

/* ---------- header ---------- */

header {
  height: 50px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  font-weight: bold;
  font-size: var(--header-logo-size);
  color: var(--header-logo-cl);
}

header li {
  display: inline-block;
  margin-left: 5px;
  font-size: var(--secondary-size);
}

header li a {
  text-decoration: none;
  color: var(--secondary-cl);
}

/* ---------- hero ---------- */

.hero {
  height: calc(100vh - 50px);
  width: 100%;

  display: flex;
}

.hero h1 {
  font-size: var(--hero-main-txt-size);
  font-weight: var(--hero-main-txt-weight);
  color: var(--hero-main-txt-cl);
}

.hero p {
  font-size: var(--secondary-size);
  color: var(--secondary-cl);
}

.hero button {
  color: var(--secondary-cl);
  background-color: var(--accent-cl);
  box-shadow: -1px 1px 50px 1px #333;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.container-half {
  height: 100%;
  width: 50%;

  display: flex;
  align-items: center;
}

/* ---------- information ---------- */

.information {
  width: 100%;
  height: 50vh;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.information h2 {
  font-size: var(--information-header-size);
  font-weight: var(--information-header-weight);
  color: var(--information-header-cl);
}

.information p {
  font-size: var(--secondary-size);
  color: var(--dark-bg-cl);
}

.information .container {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: space-evenly;
  gap: 25px;
}

.information .card {
  width: 125px;
}

.information .image {
  width: 125px;
  height: 125px;
  border-radius: 10px;
  border: 2px solid var(--accent-cl);
}

/* ---------- quote ---------- */

.quote {
  width: 100%;
  height: 50vh;

  font-size: var(--quote-txt-size);
  color: var(--quote-txt-cl);
  font-style: var(--quote-txt-style);
  font-weight: var(--quote-txt-weight);

  display: flex;
  text-align: center;
  justify-content: center;
}

.quote .container {
  width: 80%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.quote * {
  display: block;
}

.quote span:nth-child(2) {
  text-align: right;
}
